<div ng-switch on="disableAnswer">

  <div ng-switch-when="false" style="padding-top: 20px; padding-bottom: 20px;">
    <p>{{question}} <span>{{countDown}}</span></p>

    <div ng-repeat="choice in answers" class="choice">
      <button ng-click="answer(choice);" ng-disabled="disableAnswer" class="btn btn-default">
        {{choice}}
      </button>
    </div>

    <form role="form" ng-submit="answer(otherAnswer);">
      <div class="input-group choice">
        <input id="additionalAnswer" ng-model="otherAnswer" ng-disabled="disableAnswer"
               class="typeahead input form-control"
               placeholder="other choice" type="text"/>
        <span class="input-group-addon">
          <button type="submit" class="glyphicon glyphicon-ok"
                  ng-disabled="disableAnswer"
                  style="border:none; background-color: transparent"></button>
        </span>
      </div>
    </form>
  </div>


  <div class="span-12 text-center" ng-switch-default>
    <h1 >#interest</h1>
    <h1 style="color: #ff6a00" class="lead">{{clusterCount}} Matches</h1>
  </div>

</div>

